{% extends 'base.html' %}

{% block css %}
<style>
    .modal-dialog{
        position: absolute;
        top: 10%;
        left: 10%;
     }
</style>
{% endblock %}

{% block content %}
<div class="w-100 h-100 mb-5">

    {# MODALS #}
    <div class="modal fade" id="modalInvalidLoc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel4">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Locatie invalida!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary fs-3" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalUnsupportedLoc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel5">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Locatie invalida!<br>
            Va rugam sa schimbati browser-ul.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary fs-3" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCancelComand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel6" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel6">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Ternimarea comenzii va fi stearsa!<br>
            Sigur doriti sa o anulati?
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            <button type="button" class="btn btn-warning fs-3" id="btnCancelComand">Continua</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalEditComand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel7" aria-hidden="true">
      <div class="modal-dialog me-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2" id="staticBackdropLabel6">Atentie!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs-4">
            Sigur doriti sa editati comanda?
          </div>
          <div class="modal-footer justify-content-around">
            <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal">Anuleaza</button>
            <button type="button" class="btn btn-success fs-3" id="btnEditComand">Salveaza</button>
          </div>
        </div>
      </div>
    </div>

    {# STATS #}
    {% load mytags %}
    <div class="container-fluid m-5 fs-1">
        <h1 class="my-5" style="font-size: 200%">Status:</h1>
        <div class="d-flex flex-row me-5 my-3">
            <p class="me-5 text-nowrap"> Data: </p>
            <p class="me-5 text-nowrap text-decoration-underline"> {{ data }} </p>
        </div>
        <div class="fs-2 pt-3 w-50">
            <div class="row mb-3 fs-3">
                <label for="inputOraIn" class="col-form-label fs-3 text-start">Data si ora</label>
                <div class="col-sm-10">
                  <input type="datetime-local" class="form-control fs-3" id="inputOraIn" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputNrComanda" class="col-form-label fs-3 text-start">Numar comanda</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control fs-3" id="inputNrComanda" required>
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputLoc" class="col-form-label fs-3 text-start">Locatie (lat, long)</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control fs-3" id="inputLoc" required>
                </div>
            </div>

            <div class="form-floating fs-4 mt-3">
              <textarea class="form-control fs-4" placeholder="Scrieti observatia/motivarea aici" id="comandObs" style="height: 100px"></textarea>
              <label for="comandObs">Observatie</label>
              <div class="d-flex flex-row justify-content-around mt-1 fs-5">
                  <button onclick="toogleView('comandDiv')" class="btn btn-danger font-weight-bold fs-2 align-self-center my-0" > Anuleaza </button>
                  <button id="btnEditShowModal" type="button" data-bs-toggle="modal" data-bs-target="#modalEditComand" class="btn btn-primary font-weight-bold fs-2 align-self-center my-0 me-3">Salveaza</button>
              </div>
            </div>
        </div>
    {% if obsIn != "" %}
        <div class="my-3 w-50">
            <p class="me-5 text-nowrap"> Observatie la intrare: </p>
            <div class="form-floating">
              <textarea disabled class="form-control fs-4" id="floatingTextarea2" style="height: 100px">{{ obsIn|safe }}</textarea>
            </div>
        </div>
    {% endif %}
    {% if obsOut != "" %}
        <div class="my-3 w-50">
            <p class="me-5 text-nowrap"> Observatie la iesire: </p>
            <div class="form-floating">
              <textarea disabled class="form-control fs-4" id="floatingTextarea2" style="height: 100px">{{ obsOut|safe }}</textarea>
            </div>
        </div>
    {% endif %}
    {% if comenzi|length > 0 %}
        <div class="my-3 mt-5 w-50">
            <div class="d-flex flex-row">
                <p class="me-5 text-nowrap"> Comenzi finalizate: </p>
                <button onclick="arataascunde()" id="btnShowHide" class="btn btn-primary btn-square-md font-weight-bold fs-3 align-self-center my-0 px-4" > Ascunde </button>
            </div>
            <div id="comenziShowDiv">
            {% for comanda in comenzi %}
                <div class="my-3">
                <div class="card fs-3 my-1">
                  <div class="card-header fw-bold">
                    {{ comanda.denumire }}
                  </div>
                  <div class="card-body">
                    <div class="list-group list-group-flush">
                      <li class="list-group-item">Numar comanda: {{ comanda.numar_comanda }}</li>
                      <li class="list-group-item">Ora: {{ comanda.getStrTime }}</li>
                      <li class="list-group-item">
                          <div class="d-flex flex-row">
                              <p class="me-3">Locatie: {{ comanda|strloc }}</p>
                              <button class="btn btn-light" onclick="loadMap('{{ comanda.getCoords|safe }}')"><i class="fa-solid fa-location-crosshairs"></i></button>
                          </div>
                      </li>
                      <li class="list-group-item">Observatie: {{ comanda.text }} </li>
                    </div>
                    <div class="d-flex justify-content-around">
                      <button type="button" data-bs-toggle="modal" data-bs-target="#modalCancelComand" data-bs-nr="{{ comanda.numar_comanda }}" class="btn btn-danger btn-square-md font-weight-bold fs-2 my-0"> Anuleaza </button>
                      <button type="button" class="btn btn-primary btn-square-md font-weight-bold fs-2 my-0"
                              onclick="showEdit('{{ comanda.denumire }}','{{ comanda.numar_comanda }}','{{ comanda.text }}', '{{ comanda.getCoords }}', '{{ comanda.datetime|ftime:"time" }}')">Editeaza</button>
                    </div>
                  </div>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="d-none fs-2 pt-3 w-50" id="comandDiv">
            <div class="row mb-3 fs-3">
                <label for="comandaDen" class="form-label fs-2" style="text-align: left !important;">Denumire</label>
                <input class="form-control fs-3" list="datalistOptions" id="comandaDen" placeholder="Alege/Scrie denumirea produsului" required>
                <datalist id="datalistOptions">
                  <option value="Panou de gard">
                  <option value="Poarta">
                  <option value="Portita">
            </datalist>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputNrComanda" class="col-form-label fs-3 text-start">Numar comanda</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control fs-3" id="inputNrComanda" required>
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputLoc" class="col-form-label fs-3 text-start">Locatie (lat, long)</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control fs-3" id="inputLoc" required>
                </div>
            </div>
            <div class="row mb-3 fs-3">
                <label for="inputMom" class="col-form-label fs-3 text-start">Data si ora</label>
                <div class="col-sm-10">
                  <input type="datetime-local" class="form-control fs-3" id="inputMom" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
                </div>
            </div>
            <div class="form-floating fs-4 mt-3">
              <textarea class="form-control fs-4" placeholder="Scrieti observatia/motivarea aici" id="comandObs" style="height: 100px"></textarea>
              <label for="comandObs">Observatie</label>
              <div class="d-flex flex-row justify-content-around mt-1 fs-5">
                  <button onclick="toogleView('comandDiv')" class="btn btn-danger font-weight-bold fs-2 align-self-center my-0" > Anuleaza </button>
                  <button id="btnEditShowModal" type="button" data-bs-toggle="modal" data-bs-target="#modalEditComand" class="btn btn-primary font-weight-bold fs-2 align-self-center my-0 me-3">Salveaza</button>
              </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{#{% if %}#}

{% block scripts %}
<script>

var modalCancelComand = document.getElementById('modalCancelComand')
modalCancelComand.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var recipient = button.getAttribute('data-bs-nr')
  var butonContinua = document.getElementById('btnCancelComand')
  butonContinua.onclick = () => {window.location.href = "{% url 'comanda_cancel'%}?nr="+recipient};
})

var modalEditComand = document.getElementById('modalEditComand')
modalEditComand.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-oldnr')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var butonSave = document.getElementById('btnEditComand')
  den = document.getElementById("comandaDen").value
  nr = document.getElementById("inputNrComanda").value
  obs = document.getElementById("comandObs").value
  datetime = document.getElementById("inputMom").value
    alert(datetime)
  strcoord = document.getElementById("inputLoc").value.split(',')
  coord = strcoord[0].trim() + "," + strcoord[1].trim()

  butonSave.onclick = () => {window.location.href = `{% url 'comanda_edit' %}?oldnr=${recipient}&nr=${nr}&den=${den}&obs=${obs}&datetime=${datetime}&loc=${coord}`};
})

function toogleView(domname){
    elem = document.getElementById(domname);
    if(elem.classList.contains("d-none"))
        elem.classList.remove("d-none");
    else elem.classList.add("d-none");
}

function arataascunde(){
    let domname = "comenziShowDiv"
    elem = document.getElementById(domname);
    btn = document.getElementById('btnShowHide');
    if(elem.classList.contains("d-none")) {
        elem.classList.remove("d-none");
        btn.innerText = "Ascunde";
    }
    else {
        elem.classList.add("d-none");
        btn.innerText = "Arata";
    }
}

function loadMap(loc){
    if(loc.trim().length === 0 || loc === "-") {
        invComModal = new bootstrap.Modal(document.getElementById("modalInvalidLoc"), {});
        invComModal.show();
    }
    else {
        //let adress = "https://www.google.com/maps/dir/" + loc + "//@" + loc + ",21z";
        let adress = "{{ harta|safe }}";
        let pos = loc.trim().split(',')
        adress = adress.replace('^^lat^^', pos[0]).replace('^^long^^', pos[1])
        window.open(adress, '_blank');
    }
}

function displayError(error) {
  var errors = {
    1: 'Permisiune refuzata',
    2: 'Pozitie invalida',
    3: 'Timpul a expirat',
    default: "Eroare",
  };
  alert("Error: " + errors[error.code]);
}

function getLocation(callback){
    if (navigator.geolocation) {
      let timeoutVal = 10 * 1000 * 1000;
      navigator.geolocation.getCurrentPosition(
        callback,
        displayError,
        { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
      );
    }
    else {
      invComModal = new bootstrap.Modal(document.getElementById("modalUnsupportedLoc"), {});
      invComModal.show();
    }
}

function processposition(url, text=""){
    getLocation((position) => {
        adress = url + `?lat=${position.coords.latitude}&long=${position.coords.longitude}&obs=${text}`;
        window.location.href = adress;
    });
}

function showEdit(den, nr, text, coords, time){
    toogleView('comandDiv');
    document.getElementById('comandaDen').value = den;
    document.getElementById('inputNrComanda').value = nr;
    document.getElementById('inputLoc').value = coords;
    document.getElementById('comandObs').value = text.replace('; ', '\n');

    const now = new Date();
    tokens = time.split(":");
    now.setHours(parseInt(tokens[0]))
    now.setMinutes(parseInt(tokens[1]));
    now.setDate({{ datetime.day }});

    now.setMonth({{ datetime.month }});
    now.setFullYear({{ datetime.year }});
    now.setMinutes(now.getMinutes() );
    //alert(now.toJSON())
    //alert(now.toISOString())
    //2022-08-22T04:40:00.553Z
    document.getElementById('inputMom').value = createDateTime(now);

    window.location.href = window.location.href.replace(/#.*/g, "") + "#comandDiv";
    document.getElementById('btnEditShowModal').setAttribute("data-bs-oldnr", nr);
}

function fallbackCopyTextToClipboard(text) {
  var textArea = document.createElement("textarea");
  textArea.value = text;

  // Avoid scrolling to bottom
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Fallback: Copying text command was ' + msg);
  } catch (err) {
    console.error('Fallback: Oops, unable to copy', err);
  }

  document.body.removeChild(textArea);
}
function copyTextToClipboard(text) {
  if (!navigator.clipboard) {
    fallbackCopyTextToClipboard(text);
    return;
  }
  navigator.clipboard.writeText(text).then(function() {
    console.log('Async: Copying to clipboard was successful!');
  }, function(err) {
    console.error('Async: Could not copy text: ', err);
  });
}

function createDateTime(now){
    rez = ""
    rez += pad(now.getFullYear(), 4) + "-" + pad(now.getMonth(), 2) + "-" + pad(now.getDate(), 2);
    rez += "T" + pad(now.getHours(), 2) + ":" + pad(now.getMinutes(), 2);
    return rez;
}

function pad(num, size) {
    num = num.toString();
    while (num.length < size) num = "0" + num;
    return num;
}

</script>
{% endblock %}