{% extends 'base.html' %}

{% block content %}
    <div class="container m-5 p-5 fs-1">
    <form method="post">
        {% csrf_token %}
        <div class="row mb-5">
            <label for="inputDate1" class="text-nowrap me-3">Data inceput</label>
            <input type="datetime-local" class="form-control fs-1" id="inputDate1" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" name="date1">
        </div>
        <div class="row mb-5">
            <label for="inputDate2" class="text-nowrap me-3">Data sfarsit</label>
            <input type="datetime-local" class="form-control fs-1" id="inputDate2" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" name="date2">
        </div>
        <div class="row mb-5">
            <div class="d-flex flex-row justify-content-around">
                <button type="submit" class="btn btn-primary fs-1">Cauta</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

function createDateTimeFromDate(now){
    rez = ""
    rez += pad(now.getFullYear(), 4) + "-" + pad(now.getMonth(), 2) + "-" + pad(now.getDate(), 2);
    rez += "T" + pad(now.getHours(), 2) + ":" + pad(now.getMinutes(), 2);
    return rez;
}

function pad(num, size) {
    num = num.toString();
    while (num.length < size) num = "0" + num;
    return num;
}

date = new Date()
document.getElementById('inputDate2').value = createDateTimeFromDate(date)

</script>
{% endblock %}