{% load mytags %}
<table class="table table-hover fs-5">
    <thead class="">
        <tr>
            {% if request.user|role_at_least:"Manager" %}
                <th> Nume </th>
                <th> Data </th>
            {% else %}
                <th> Ziua </th>
            {% endif %}
            <th> Ora intrarii </th>
            <th> Locatia intrarii </th>
            <th> Observatie la intrare </th>
            <th> Ora plecarii </th>
            <th> Locatia plecarii </th>
            <th> Observatie la plecare </th>
            <th class="text-wrap"> Numar comenzi </th>
            <th class="text-wrap"> Numar lucrari </th>
            {% if request.user|role_at_least:"Manager" %}
            <th> Linkuri </th>
            <th> Modificare </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for rowdata in tabledata %}
        <tr {{ rowdata.color|safe }}>
            {% if request.user|role_at_least:"Manager" %}
                <th> <a href="{% url 'detaliiuser' username=rowdata.user.username %}">{{ rowdata.user.nume }}</a></th>
                <th> {{ rowdata.datetime|ftime:"date" }} </th>
            {% else %}
                <th> {{ rowdata.datetime|name_of_day }}</th>
            {% endif %}

            {% if rowdata.absent %}
                <th colspan="9" class="text-center"> Absent </th>
            {% else %}
                <th> {{ rowdata.intrare.datetime|ftime:"time" }} </th>
                <th> {{ rowdata.intrare|strloc }}
                {% if rowdata.intrare|strloc != "-" %}<button class="btn btn-light" onclick="loadMap('{{ rowdata.intrare.getCoords|safe }}')"><i class="fa-solid fa-location-crosshairs"></i></button>{% endif %}
                </th>
                <th> {{ rowdata.intrare.text }} </th>
                <th> {{ rowdata.iesire.datetime|ftime:"time" }} </th>
                <th> {{ rowdata.iesire|strloc }}
                {% if rowdata.iesire|strloc != "-" %}<button class="btn btn-light" onclick="loadMap('{{ rowdata.iesire.getCoords|safe }}')"><i class="fa-solid fa-location-crosshairs"></i></button>{% endif %}
                </th>
                <th> {{ rowdata.iesire.text }} </th>
                <th> {{ rowdata.nrcomenzi }} </th>
                <th> {{ rowdata.nrlucrari }} </th>
                {% if request.user|role_at_least:"Manager" %}
                <th> <a href="{% url 'comenziUser' date=rowdata.datetime|ftime:"date" username=rowdata.user.username %}" class="btn btn-outline-info text-nowrap mb-1">Comenzi</a>
                     <a href="{% url 'lucrariUser' date=rowdata.datetime|ftime:"date" username=rowdata.user.username %}" class="btn btn-outline-info text-nowrap">Lucrari</a>
                </th>
                {% endif %}
            {% endif %}
            {% if request.user|role_at_least:"Manager" %}
                <th> <a href="{% url 'actUserFromPath' datein=rowdata.datetime|ftime:"date" dateout=rowdata.datetime|ftime:"date" username=rowdata.user.username%}" class="btn btn-primary">Modificare</a> </th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>